EAI/jsp/EFIS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BasicSalary">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="9999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Designation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CEO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Designation"/>
				<xs:element ref="BasicSalary"/>
				<xs:element ref="HRA"/>
				<xs:element ref="LTA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HRA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1234"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LTA">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="5678"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Sandeep X Kunkunuru"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
