EAI/jsp/HRIS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Address" type="xs:string"/>
	<xs:element name="Designation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CEO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirstName"/>
				<xs:element ref="MiddleName"/>
				<xs:element ref="LastName"/>
				<xs:element ref="Address"/>
				<xs:element ref="Designation"/>
				<xs:element ref="Gender"/>
				<xs:element ref="JoiningDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FirstName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Sandeep"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Gender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="m"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JoiningDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="11 - 19 - 2003"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LastName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kunkunuru"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MiddleName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="X"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
